*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden; 
}

.about
{
    text-align: center;
}

header {
    background: #F6F3E4;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;  
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
}

.navbar a img {
    width: 80px;
    margin-left: 2vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-links li:hover a {
    color: #E2BA07;
    font-weight: bold;
    transition: color 0.3s ease;
}


.nav-links li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #000;
}

#sign-in {
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #E2BA07;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#sign-in:hover{
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .navbar {
        padding: 0;
    }
    .nav-links {
        display: none;  
        position: absolute;  
        top: 100%; 
        left: 0%;
        width: 100%;
        background: #E2BA07;
        z-index: 1000;  
        text-align: center;  
        padding: 15px 0; 
    }
    .nav-links.open {
        display: flex;  
        flex-direction: column;  
    }
    .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 45px;
        cursor: pointer;
    }
    .nav-links li {
        margin: 15px 0;  
    }
}


@media only screen and (min-width: 851px) {
    .menu-btn {
        display: none;  
    }
}



section>p
{
    font-weight: 600;
}

.big-text
{
    font-size: 36px;
    margin-bottom: 20px;
}

.normal-text
{
    font-size: 28px;
}

.text-section
{
    margin: 125px 125px 0 125px;
}

.text-section>.big-text
{
    font-weight: 600;
    color: #FFDC5F;
}

.container>.text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-1, .container-2, .container-4, .container-5
{
    padding: 0 150px 0 150px;
}

.container-1
{
    display: flex;
    padding: 150px 125px 100px 125px;
}

.container-1>img
{
    height: 80%;
    margin-left: 100px;
}

.container-1 .big-text
{
    font-weight: 800;
    color: #E2BA07;
}

.container-2
{
    background-color: #FFF4BD;
    display: flex;
    margin-top: 75px;
    height: 550px;
    justify-content: space-around;
    align-items: center;
}


.container-2>img
{
    height: 60%;
}

.container-2 .big-text
{
    width: 400px;
    font-weight: 800;
    font-style: italic;
    color: #FFAD32;
}

.container-3
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 200px;
    width: 100%;
    box-sizing: border-box;
}



.container-4
{
    background-color: rgba(255, 244, 189, 0.4);
    padding: 125px 0 0 0;
}

.container-4>.text-resize
{
    display: inline-block;
    width: 400px;
}

.container-4>img, .container-5>img
{
    margin: 100px 0 100px 0;
    height: 380px;
}

.container-4 .big-text
{
    font-weight: 800;
    font-style: italic;
}

.container-4, .container-5 {
    width: 100%;
    box-sizing: border-box;
}


.container-5 .big-text
{
    font-weight: 800;
    font-style: italic;
    color: #FF9900;
}

.container-6
{
    margin: 5px 100px 0 100px;
    width: 180px;
    display: grid;
}

.ico-container 
{
    margin: 5px 100px 10px 100px;
}

.ico 
{
    width: 30px;
    margin: 0 20px 0 20px;
}

footer 
{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #F6F3E4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1230px) 
{
    .big-text
    {
        font-size: 30px;
    }

    .normal-text
    {
        font-size: 24px;
    }

    .container-4>img
    {
        height: 300px;
    }

    .container-5
    {
        padding: 0 80px 0 80px;
    }
}

@media only screen and (max-width: 900px) {
    .big-text {
        font-size: 24px;  
        margin-bottom: 10px;  
    }

    .normal-text {
        font-size: 18px;  
    }

    .container-1, .container-2, .container-4, .container-5 {
        padding: 0 30px; 
    }
    
    .text-section{
        height: 200px;
    }

    .nav-links li:hover a {
        color: white;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    .container-1 > img {
        height: auto; 
        max-width: 40%;  
        margin-left: 20px; 
        margin-right: 20px;  
    }
    .container-1{
        margin: 40px;
    }
    
    #whatsetsusapart {
        margin: 100px;
        font-weight: 800;
        font-style: italic;
        color: #FFAD32;
    }

    .container-3  img {
        width: 100%;
        height: auto;
        max-height: 30%;  
        margin-left: 20px; 
        margin-right: 20px;  
    }
    
    .container-2 .text
    {
        width: 200px;
    }

    .container-3 .container-4 .text .big-text{
        margin: 50px;
    }
    .container-2 > img
    {
        width: 400px;
    }

    .container-4  img, .container-5  img{
        width: 270px; 
        margin-left: 20px; 
        margin-right: 20px;  
    }
}

@media only screen and (max-width: 780px) {
     .container-3{
        display: flex;
        flex-direction: column;
     }

     .container-2 > img
    {
        width: 280px;
    }
}

@media only screen and (max-width: 650px) {

    .container-1 .text
    {
        width: 200px;
    }
    .container-1
    {
        padding: 0;
        align-items: center;
        justify-content: center;
    }

}

@media only screen and (max-width: 600px) {

    .text-section
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text-section .normal-text
    {
        width: 300px;
    }
    .container-3  img {
        height: auto; 
        max-height: 30%;  
        margin-left: 20px; 
        margin-right: 20px;  
    }

    .container-3 .container-4 .text .big-text{
        margin: 50px;
    }

    .container-4  img {
        height: auto; 
        max-width: 90%;  
        margin-left: 20px; 
        margin-right: 20px;  
    }

    .container-2 > img
    {
        width: 200px;
        height: auto;
    }
}

body, html {
    width: 100%;
    overflow-x: hidden;
}