*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

header {
    background: #F6F3E4;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
}

.navbar a img {
    width: 80px;
    margin-left: 2vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-links li:hover a {
    color: #E2BA07;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #000;
}

#sign-in {
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #E2BA07;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#sign-in:hover{
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .navbar {
        padding: 0;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
        background: #E2BA07;
        z-index: 1000;
        text-align: center;
        padding: 15px 0;
    }

    .nav-links.open {
        display: flex;
        flex-direction: column;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 45px;
        cursor: pointer;
    }

    .nav-links li {
        margin: 15px 0;
    }
}


@media only screen and (min-width: 851px) {
    .menu-btn {
        display: none;
    }
}

main
{
    margin-top: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-1
{
    margin: 50px 30px;
}

h3
{
    padding: 10px 0 10px 10px;
}
.model
{
    display: flex;
}

.info-model
{
    margin: 20px 0 20px 40px;
    width: 500px;
}

.info-model>button
{
    width: 100px;
    height: 40px;
    background-color: #E2BA07;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

.admin-buttons
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.admin-buttons button
{
    background-color: #E2BA07;
    border-radius: 15px;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin: 0 20px 20px 0;
}

.hide-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #FFF4BD;
    border-radius: 20px;
    padding: 20px;
}

.hide-content label
{
    margin-bottom: 5px;
    font-size: 18px;
}

.hide-content textarea
{
    resize: none;
    width: 400px;
    height: 150px;
    margin-bottom: 15px;
    border: solid 1px #FF9900;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
}

.hide-content input[type="text"]
{
    height: 40px;
    width: 400px;
    margin: 0 10px 15px 10px;
    border: solid 1px #FF9900;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}

.add-content>form, .delete-content>form, .import-content>form, .export-content>form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-form
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

form .first, form .second
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.first
{
    margin-right: 50px;
}

#for-add-file, #for-import-file, .category, .brand, .size, .color
{
    border-radius: 20px;
    border: solid 1px #FF9900;
    background-color: #fff;
    padding: 10px 20px;
}

input[type="submit"]
{
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 20px;
    background-color: #FF9900;
    color: #fff;
}

#for-add-file:hover, #for-import-file:hover, input[type="submit"]:hover
{
    background-color: #fff;
    color: #FF9900;
    cursor: pointer;
    border: solid 1px #FF9900
}

.category, .brand, .sizes, .colors
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.sizes
{
    width: 500px;
}

.size, .color
{
    margin: 0 10px 10px 0;
    padding: 5px 10px;
}

.category label, .brand label
{
    margin-right: 20px;
}

.hide-content input[type="file"]
{
    display: none;
}

.delete-content
{
    display: none;
}

.delete-content label
{
    margin-bottom: 20px;
    font-size: 20px;
}

.import-content
{
    display: none;
}

.export-content
{
    display: none;
}

.container-2
{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-image
{
    width: 300px;
    border-radius: 20px;
}

.ico-container
{
    margin: 5px 100px 10px 100px;
}

.ico
{
    width: 30px;
    margin: 0 20px 0 20px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p.name {
    margin-right: 10px;
    align-items: center;
    justify-content: center;
}

.alert, .success
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 30px;
    color: #fff;
    border-radius: 20px;
    background-color: tomato;
    margin-top: 8px;
}

.success
{
    background-color: lightgreen;
}

.edit-ico {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.edit-ico:hover {
    transform: scale(1.1);
}

#edit-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    display: none;
}

#edit-popup label {
    display: block;
    margin-bottom: 10px;
}

#edit-popup input[type="text"],
#edit-popup select {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#edit-popup input[type="file"] {
    margin-bottom: 10px;
}

#edit-popup input[type="submit"] {
    background-color: #E2BA07;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#edit-popup input[type="submit"]:hover {
    background-color: #FFD700;
}

.color-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.color-checkbox input[type="checkbox"] {
    margin-right: 5px;
}

.color-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.color-checkbox input[type="checkbox"] {
    margin-bottom: 10px;
}

.blur {
    filter: blur(2px);
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundal semi-transparent */
    backdrop-filter: blur(5px); /* Aplică efect de blur */
    z-index: 1000; /* Asigură că este peste toate celelalte elemente */
}

.logout
{
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: tomato;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
}

footer
{
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #F6F3E4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Comune cu footwear*/

.container-1 {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F9F7EC;
    border-radius: 10px;
    margin-bottom: 20px;
    align-items: center;
    padding: 30px;
}

.element .product-img {
    width: 200px;
    border-radius: 20px;
    margin: 25px 0 25px 0;
}

.info {
    width: 77%;
    margin-left: 20px;
}

.info-price {
    font-weight: 600;
}

.info button {
    width: 100px;
    height: 40px;
    background-color: #E2BA07;
    border: none;
    border-radius: 10px;
}

.star
{
    width: 25px;
}

.like {
    float: right;
    width: 30px;
    cursor: pointer;
}

/*.container-2 {*/
/*    position: relative;*/
/*}*/

.element {
    position: relative;
}


.info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.rating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    bottom: 30px;
}

.rating
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.score {
    margin-right: 10px;
    font-weight: bold;
}

.rating-button {
    padding: 5px 10px;
    background-color: #E2BA07;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.rating-button:hover {
    background-color: black;
}

.info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-bottom>button, .rating-button {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.buttons-size
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.buttons-size button {
    width: 60px;
    margin: 5px;
}

.size-button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 10px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.rating-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.rate-button {
    background-color: #E2BA07;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 1150px)
{
    .info-descript
    {
        font-size: 12px;
    }
}

@media only screen and (max-width: 950px)
{
    .container-1 {
        margin: auto;
        width: 90%;
    }

    .element .product-img {
        width: 150px;
    }

    .info button {
        width: 80px;
        height: 30px;
    }
}

@media only screen and (max-width: 850px)
{
    .detalii {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .element {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .element .product-img {
        width: 200px;
    }

    .info {
        width: 80%;
    }
}

/* Pana aici */

@media only screen and (max-width: 1400px)
{
    .hide-content
    {
        width: auto;
        margin-right: 20px;
    }

    .add-form
    {
        flex-direction: column;
    }

    main
    {
        margin: 200px 0 100px 0;
    }

    .first
    {
        margin: 0;
    }
}


@media only screen and (max-width: 1300px)
{
    .admin-container
    {
        margin-right: 20px;
    }

    .container-1
    {
        width: 60%;
    }

    .info-model
    {
        width: 400px;
    }

    .user
    {
        top: -200px;
    }

    user .account-image
    {
        width: 200px;
    }

    .delete-form, .export-buttons
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .export-buttons input[type="submit"]
    {
        margin: 10px;
    }

}

@media only screen and (max-width: 1040px)
{
    .container-1
    {
        width: 90%;
    }

    .container-2
    {
        width: 80%;
        margin-top: 50px;
    }

    .info-model
    {
        width: 300px;
    }

    .user
    {
        top: -250px;
    }

    user .account-image
    {
        width: 150px;
    }

    user .other
    {
        font-size: 12px;
    }

    main
    {
        flex-direction: column;
    }
}

@media only screen and (max-width: 850px)
{
    .container-1
    {
        margin: 0 10px;
    }

    .import-buttons
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 700px)
{
    .info-model>p
    {
        font-size: 14px;
    }

    user .model img
    {
        width: 150px;
    }

    .hide-content input[type="text"], .hide-content input[type="submit"], .category, .brand, .sizes, .colors
    {
        max-width: 300px;
    }
}

@media only screen and (max-width: 590px)
{
    .add-content textarea
    {
        width: 300px;
    }
    .model
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer
    {
        margin-top: 200px;
    }

    .info-model
    {
        margin: 20px 0 20px 0px;
    }

    .ico
    {
        width: 5vw;
        margin: 0 10px 0 10px;
    }
    .ico-container
    {
        margin: 5px 60px 10px 60px;
    }

}

@media only screen and (max-width: 450px)
{
    .info-model
    {
        width: 250px;
    }

    .hide-content input[type="text"], .hide-content input[type="submit"], .category, .brand, .sizes, .colors, .add-content textarea
    {
        max-width: 200px;
    }

    .account-image
    {
        width: 200px;
    }

    .import-content
    {
        text-align: center;
    }
}