* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background-size: cover;
}


header {
    background: #F6F3E4;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;  
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    top: 0;
}

.navbar a img {
    width: 80px;
    margin-left: 2vw;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

.nav-links li:hover a {
    color: #E2BA07;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #000;
}

#sign-in {
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: #E2BA07;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#sign-in:hover{
    color: #000;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}

@media only screen and (max-width: 850px) {
    .navbar {
        padding: 0;
    }
    .nav-links {
        display: none;  
        position: absolute;  
        top: 100%; 
        left: 0%;
        width: 100%;
        background: #E2BA07;
        z-index: 1000;  
        text-align: center; 
        padding: 15px 0; 
    }
    .nav-links.open {
        display: flex;  
        flex-direction: column;  
    }
    .menu-btn {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        width: 45px;
        cursor: pointer;
    }
    .nav-links li {
        margin: 15px 0;  
    }
}


@media only screen and (min-width: 851px) {
    .menu-btn {
        display: none;  
    }
}

main{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #E2BA07;
}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background-color: rgba(226, 186, 7, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} 

.home .content{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;  
    display: none;
}

.home .content.active{
  display: block;
}

.more-content {
    display: none;
}

.read-more {
    margin-top: 10px;
    background-color: #E2BA07;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
}

.read-more:hover{
    margin-top: 10px;
    background-color: #fff;
    color: #E2BA07;
    font-size: 1.2em;
    font-weight: 500;
    border: none;
    padding: 15px 35px;
    cursor: pointer;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
   margin-bottom: 65px;
}

.home .content a{
  background: #fff;
  padding: 15px 35px;
  color: #E2BA07;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: ease;
}

.home .media-icons a{
   color: #fff;
   font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 15px;
}

.slider-navigation .nav-btn.active {
    background: #E2BA07;
    animation: wave 0.5s ease;
    transform: scale(1.5);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150.0% at 0 50%);
    transition: 1.5s ease;
    transition-property: clip-path;
}

@keyframes wave {
    0% { transform: scale(1.4); }
    50% { transform: scale(1.8); }
    100% { transform: scale(2); }
}

@media (max-width:1040px){
    main{
        padding: 100px 20px;
    }

    .home .media-icons{
        right: 15px;
    }

    .nav-links li:hover a {
        color: white;
        font-weight: bold;
        transition: color 0.3s ease;
    }

    @media only screen and (max-width: 850px) {
        .home {
            padding: 10px; 
            text-align: center;
        }
    
        .content h1 {
            font-size: 24px;
            
        }
    
        .content p {
            font-size: 16px;
        }
    }
}

@media (max-width:520px){
    .navbar a img {
        width: 15vw;
        margin-left: 2vw;
    }

    .navbar img{
        width: 8vw;
        display: block;
    }

    .home .content h1{
        font-size: 10vw;
        letter-spacing: 0.5vw;
        line-height: 12vw;
        margin-bottom: 40px;
    }
    
    .home .content h1 span{
        font-size: 14vw;
        font-weight: 600;
    }
    
    .home .content p{
       font-size: 4vw;
    }

    .read-more {
        font-size: 3vw;
        padding: 3vw 6vw;
    }

}

@media only screen and (max-width: 510px) {
    .slider-navigation{
        transform: translateY(70px);
    }

    .video-slide {
        height: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .media-icons {
        font-size: 2vw; 
    }
}

@media (max-width:400px){
    .navbar img{
        margin-top: -1%;
    }
}

 

@media (max-width:320px){
    .navbar img{
        margin-top: -2%;
    }
}

@media (max-width:280px){
    .navbar img{
        margin-top: -4%;
    }
}

@media (max-width:240px){
    .navbar img{
        margin-top: -8%;
    }
}