*
{
    margin: 0;
    padding: 0;
}

body
{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(246,243,228,1) 38%, rgba(246,240,217,1) 100%);
    height: 100vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

main, .container, .reg-ico>div
{
    display: flex;
    align-items: center;
    justify-content: center;
}

header
{
    height: 50px;
    display: flex;
}

.logo>img
{
    transform: scaleY(-1) rotate(-90deg);
    width: 80px;
}
header>#back
{
    font-size: 28px;
    transform: rotate(-60deg);
    margin: 20px 0 0 -20px;
    text-decoration: none;
    color: #000;
}

main
{
    margin: auto;
}

.try
{
    position: relative;
}

.color-div
{
    width: 550px;
    height: 800px;
    background-color: rgba(226, 186, 7, 0.65);
    position: absolute;
    left: -25px;
    top: -25px;
}

#large-image
{
    width: 500px;
}

.container
{
    width: 500px;
    height: 700px;
    margin-left: 200px;
    flex-direction: column;
}

#reg
{
    font-size: 30px;   
}

input
{
    border: none;
    padding: 0 10px 0 10px;
    margin-top: 30px;
}

.register
{
    border-bottom: 1px solid gray;
    background-color: transparent;
}

.input-line
{
    width: 300px;
    height: 40px;
}

.alert
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 30px;
    color: #fff;
    border-radius: 20px;
    background-color: tomato;
    margin-top: 8px;
}

button
{
    margin-top: 30px;
    width: 320px;
    background-color: #E2BA07;
    border-radius: 28px;
    border: none;
}

.new-acc
{
    margin-top: 10px;
    font-size: 12px;
    display: flex;
}

.new-acc>a
{
    color: #E2BA07;
}

.reg-ico
{
    display: flex;
    gap: 35px;
}

.reg-ico>div
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.reg-ico a
{
    height: 30px;
}

.reg-ico img
{
    width: 30px;
}

@media only screen and (max-width: 1300px)
{
    .color-div
    {
        width: 350px;
        height: 500px;
        background-color: rgba(226, 186, 7, 0.65);
        position: absolute;
        left: -25px;
        top: -25px;
    }

    #large-image
    {
        width: 300px;
    }

    .container
    {
        margin-left: 80px;
        width: 300px;
    }
}

@media only screen and (max-width: 850px)
{
    .color-div
    {
        display: none;
    }

    #large-image
    {
        display: none;
    }

    .container
    {
        margin: 0;
    }
}

@media only screen and (max-height: 930px)
{
    .color-div
    {
        width: 350px;
        height: 500px;
        background-color: rgba(226, 186, 7, 0.65);
        position: absolute;
        left: -25px;
        top: -25px;
    }
    #large-image
    {
        width: 300px;
    }
}