.backbutton {
    position: relative;
    margin: 10px auto 20px auto;
    padding: 10px 20px 10px 20px;
    top: 35px;
    left: 35px;
    width: 35px;
    background-color: tomato;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    font-weight: bold; 
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;  
    background-color: #F9F7EC;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 4px solid tomato;
}


.container h2 {
    font-weight: bold;  
    font-size: 30px; 
    margin-bottom: 20px;  
}

.container .small-text {
    margin-top: -15px;
    font-weight: bold; 
    font-size: 12px;  
    margin-bottom: 20px;  
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.container input[type="email"], .container button {
    width: 100%;  
    padding: 10px;
    margin: 5px 0; 
    box-sizing: border-box;  
}

.container button {
    background-color: tomato;  
    color: white;  
    border: none;
    cursor: pointer; 
    border-radius: 4px; 
}

/* Stiluri pentru mesaje de alertă și succes */
.container .alert, .container .success {
    text-align: center;  
    margin: 10px 0;  
    padding: 10px;
    border-radius: 4px;
}

.container .alert {
    background-color: #ffcccc;  
    color: #cc0000;  
}

.container .success {
    background-color: #ccffcc;  
    color: #008000;  
}

.container button[type="submit"] {
    font-weight: bold;  
    width: 150px;  
    margin-top: 20px;
}

.container input[type="email"] {
    width: 250px;  
}